@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Great+Vibes&family=PT+Sans+Narrow&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background1.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 180px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 12px 30px;
}

nav ul li a {
  color: #fff;
  text-shadow: black 2px 2px 14px;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(5, 255, 234);
  position: absolute;
  left: 0;
  bottom: -4px;
}
nav ul li a:hover {
  color: rgb(248, 5, 78);
}
/* makes nav item underline appear on hover */
nav ul li a:hover::after {
  width: 100%;
  transition: 0.5s;
}

.header-text {
  margin-top: 20%;
  font-size: 28px;
  color: rgb(248, 5, 78)
  text-shadow: black 0px 0px 10px;
}

.header-text p {
  font-weight: bold;
    color: rgb(248, 5, 78);
}

.header-text h1 {
  font-size: 52px;
  margin-top: 20px;
}

.header-text h1 span {
  color: rgb(5, 255, 234);
}

/* -----------------about------------------ */
#about {
    padding: 60px 0;
    color: #bebaba;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    padding-right: 30px;
}
.about-col-1 img {
    width: 90%;
    border-radius: 10px;
}

.about-col-2 {
    flex-basis: 60%;
    padding-left: 30px;
}

.sub-title {
    font-size: 56px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    text-align: center;
    justify-content: space-between;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    font-weight: bolder;

}
.tab-links:hover {
    color: rgb(248, 5, 78);
}
.tab-links::after {
    content: "";
    width: 0;
    height: 2px;
    background: rgb(5, 255, 234);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span {
    color:rgb(5, 255, 234);
    font-size: 14px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

/* ----------------------services------------------  */
#services{
    padding: 50px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
  background: #262626;
  padding: 20px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  border-radius: 5px;
  /* added transition for the div:hover section in services css below */
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 40px;
    color: rgb(5, 255, 234);
    margin-bottom: 20px;
}

.services-list div h2 {
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}

.services-list div:hover {
    background: rgb(248, 5, 78);
    transform: translateY(-10px);
}

/* ----------------- portfolio ------------------- */

#portfolio {
    padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 60px;
  margin-top: 50px;
}

.work {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  height: 80%;
  border-radius: 5px;
  display: block;

}