@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Great+Vibes&family=PT+Sans+Narrow&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/background1.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 10%;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 12px 30px;
}

nav ul li a {
  color: #fff;
  text-shadow: black 2px 2px 14px;
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: rgb(5, 255, 234);
  position: absolute;
  left: 0;
  bottom: -4px;
}
nav ul li a:hover {
  color: rgb(248, 5, 78);
  font-size: 26px;
}
/* makes nav item underline appear on hover */
nav ul li a:hover::after {
  width: 100%;
  transition: 0.5s;
}

.header-text {
  margin-top: 20%;
  font-size: 28px;
  color: rgb(248, 5, 78)
  text-shadow: black 0px 0px 10px;
}

.header-text p {
  font-weight: bold;
    color: rgb(248, 5, 78);
}

.header-text h1 {
  font-size: 52px;
  margin-top: 20px;
}

.header-text h1 span {
  color: rgb(5, 255, 234);
}

/* -----------------about------------------ */
#about {
    padding: 50px 0;
    color: #bebaba;
}
.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    padding-right: 20px;
}
.about-col-1 img {
    width: 90%;
    border:#262626 5px solid;
    border-radius: 10px;
    opacity: 0.9;
}

.about-col-2 {
    flex-basis: 60%;
    padding-left: 20px;
}

.about-col-2 p{
  margin-bottom: 40px;
  font-size: 20px;
}

.sub-title {
    font-size: 54px;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
    text-align: center;
    justify-content: space-between;
}

.tab-links {
    margin-right: 30px;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    font-weight: bolder;

}
.tab-links:hover {
    color: rgb(248, 5, 78);
}
.tab-links::after {
    content: "";
    width: 0;
    height: 2px;
    background: rgb(5, 255, 234);
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after {
    width: 100%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
    font-size: 16px;
}
.tab-contents ul li span {
    color:rgb(5, 255, 234);
    font-size: 20px;
}
.tab-contents {
    display: none;
}
.tab-contents.active-tab {
    display: block;
}

/* ----------------------services------------------  */
#services{
    padding: 50px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
  background: #262626;
  padding: 20px;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  border-radius: 5px;
  /* added transition for the div:hover section in services css below */
  transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 40px;
    color: rgb(5, 255, 234);
    margin-bottom: 20px;
}

.services-list div h2 {
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}

.services-list div:hover {
    background: rgb(248, 5, 78);
    transform: translateY(-10px);
}

/* ----------------- portfolio ------------------- */

#portfolio {
    padding: 70px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgb(37, 20, 26));
  border-radius: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  text-align: center;
  font-size: 16px;
  transition: height 0.4s;
  border: 2px white solid;
}
/* project titles */
.layer h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 20px;
}
/* pink arrow icons */
.layer a{
  margin-top: 20px;
  color: rgb(248, 5, 78);
  text-decoration: none;
  font-size: 28px;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover h3 {
  font-size: 28px;
  color: rgb(5, 255, 234);
}

.work:hover .layer {
  height: 100%;
} 

/* ---------------------contact---------------- */

#contact{
  padding: 70px 0;
}

.contact-left{
  flex-basis: 35%;
}

.contact-right{
  flex-basis: 60%;
}

.contact-left p{
  margin-top: 30px;
  font-size: larger;
}

.contact-left p i{
  color:rgb(5, 255, 234);
  margin-right: 15px;
  font-size: 25px;
}

.contact-left p a{
  text-decoration: none;
  color: white;
  font-size: 22px;
}

.contact-left p a:hover{
  color: rgb(248, 5, 78);
  font-weight: bolder;
  text-decoration: underline;
  font-size: 24px;
  transition: transform 0.5s;
}

.social-icons{
  margin-top: 30px;
}

.social-icons a{
  text-decoration: none;
  font-size: 40px;
  margin-right: 15px;
  color: rgb(161, 153, 153);
  border-radius: 5%;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
  color: rgb(248, 5, 78, 0.8);
  transform: translateY(-3px);
  font-size: 44px;
}

.btn{
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bolder;
  background: rgb(5, 255, 234);
}

.btn:hover{
  font-size: 20px;
  text-decoration: underline;
  background: rgb(248, 5, 78);
}

.contact-right form{
  width: 100%;
}
/* name and email fields */
 form input, form textarea{
  width: 100%;
  padding: 15px;
  margin: 15px 0;
  border: 0;
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  color: white;
  background-color: rgb(29, 28, 28);
}
/* send button for message */
form .btn.btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  width: 20%;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-weight: 300;
  margin-top: 20px;
}

/* -----------------media queries------------------ */

/* hide hamburger menu and x icons on larger screens */
nav .fa-solid{
  display: none;
}
/* small screens */
@media only screen and (max-width: 600px){
#header{
  background-image: none;
}
.header-text{
  font-size: 16px;
}
.header-text h1{
  font-size: 26px;
}
}